langchain
python-dotenv
ipykernel
langchain-community
pypdf
pandas
duckduckgo_search==5.3.1b1
pymupdf
wikipedia
unstructured
pytube
fitz
python-docx
pdfplumber
python-docx
lxml==5.2.1
docx
streamlit
fastapi
sse_starlette
PyMySQL
Django>=5.0
uvicorn[standard]>=0.23
fastapi>=0.111
python-dotenv>=1.0
mysqlclient
requests==2.32.3